In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/clean_sales.csv")
df['Date'] = pd.to_datetime(df['Date'])
df.head()

        Date Store   Category  Sales  Profit  Quantity
0 2024-01-01     A     Fruits   1660     431        34
1 2024-01-01     C     Bakery   1400     328        79
2 2024-01-01     C      Dairy   3688     560        58
3 2024-01-01     C  Beverages   4356    1097        70
4 2024-01-01     C     Snacks   2067     454        83

In [3]:
category_speed = df.groupby("Category")["Quantity"].sum().sort_values(ascending=False)
category_speed

Category
Snacks       77031
Dairy        75680
Bakery       75559
Fruits       75411
Beverages    75299
Name: Quantity, dtype: int64

In [ ]:
# product movement 
category_speed.to_csv("../outputs/category_movement.csv")

In [5]:
category_profit = df.groupby("Category")["Profit"].sum().sort_values(ascending=False)
category_profit

Category
Dairy        720086
Fruits       712062
Beverages    709905
Bakery       699171
Snacks       697692
Name: Profit, dtype: int64

In [6]:
# profit analysis
category_profit.to_csv("../outputs/category_profit.csv")

In [7]:
# restocking analysis

In [8]:
restock = pd.DataFrame({
    "Total_Quantity": category_speed,
    "Total_Profit": category_profit
})

In [9]:
restock

           Total_Quantity  Total_Profit
Category
Bakery              75559        699171
Beverages           75299        709905
Dairy               75680        720086
Fruits              75411        712062
Snacks              77031        697692

In [10]:
restock["Recommendation"] = restock["Total_Quantity"].apply(
    lambda x: "Increase Stock" if x > restock["Total_Quantity"].median() else "Reduce Stock"
)

In [11]:
restock

           Total_Quantity  Total_Profit  Recommendation
Category
Bakery              75559        699171    Reduce Stock
Beverages           75299        709905    Reduce Stock
Dairy               75680        720086  Increase Stock
Fruits              75411        712062    Reduce Stock
Snacks              77031        697692  Increase Stock

In [12]:
restock.to_csv("../outputs/restock_recommendations.csv")